body {
	background: #174172;
	background: linear-gradient(-90deg, #0b1f31, #174172);
}
@font-face {
	font-family: 'Tar-ita';
	src: url('../css/font/tarrgetital-webfont.woff2')
	format('woff2'),
	url('../css/font/tarrgetital-webfont.woff')
	format('woff');
	font-weight: normal;
	font-style: normal;
}
a:visited, a:link {
	color: #e1ebf8;
	background-color: rgba(118,193,201,0.4);
	padding: 5px 5px 0px 5px;
	display: inline-block;
	border-radius: 15px;
	text-decoration: none;
}
a:hover {
	color: white;
	background-color: rgba(218,1700,166,0.4);
	padding: 5px 5px 0px 5px;
	display: inline-block;
	border-radius: 15;
	text-decoration: none;
}
a:active {
	background-color: rgba(240,223,166,0.4);
	padding: 5px 5px 0px 5px;
	display: inline-block;
	border-radius: 15;	
}
* {
    box-sizing: border-box;
}
div {
	margin-right: auto;
	margin-left: auto;
	text-decoration: none;
}
[class*="col-"] {
	float: left;
	padding: 15px;
}
.row::after {
	content: "";
	clear: both;
	display: table;
}
#char {
	font-family: Tar-ita;
	font-size: 220%;
	text-align: center;
	max-width: 1400px;
	margin: auto;
	padding-top: 10px;
	list-style-type: none;
	padding: 0;
}
#charlookupinput {
	background-image: url('../img/search.png');
	background-position: 8px 10px;
	background-size: 5%;
	background-repeat: no-repeat;
	width: 20%;
	font-size: 16px;
	padding: 10px 15px 10px 33px;
	border: 1px solid rgba(118,193,201,0.4);
	margin-bottom: 15px;
	margin-top: -25px;
}
#punishlookupinput {
	background-image: url('../img/search.png');
	background-position: 8px 10px;
	background-size: 5.2%;
	background-repeat: no-repeat;
	background-color: hsla(0,0%,0%,0.5);
	color: white;
	width: 44%;
	font-size: 16px;
	padding: 10px 15px 10px 33px;
	border: 1px solid rgba(118,193,201,0.4);
	margin-bottom: 5px;
}
img {
	height: auto;
	padding: 3px;
}
.intro {
	text-align: center;
	font-size: 120%;
	padding-bottom: 20px;
	width: 50%;
	color: white;
}
.standing li {	
	list-style-type: none;
	padding: 0px;
}
#outsidelink {
	background-color:unset;
	padding:unset;
	color: white;
}
#slidetext, #slide, #slidetext_1, #slide_1, #slidetext_2, #slide_2, #slidetext_3, #slide_3, #slidetext_4, #slide_4 {
	font-weight: 450;
	padding: 10px;
	text-align: center;
	background-color: #272636;
	border: solid 1px rgba(148,189,209,0.4);
	color: white;
	border-radius: 1px;
}
#slidetext, #slidetext_1, #slidetext_2, #slidetext_3, #slidetext_4 {
	padding: 10px;
	display: none;
	text-align: left;
	color: #d2e1ff;
}
#disqus_thread {	
	font-weight: 450;
	padding: 10px;
	background-color: #272636;
	border: solid 1px rgba(148,189,209,0.4);
	border-radius: 1px;
}
#disqus_thread a {	
	color:white;
	background-color:unset;
	padding:unset;
}
.punish {
	width: 60%;
}
.movetype {
	font-size: 130%;
	background-color: rgba(235,235,235,0.7);
	width: 40%;
	border-radius: 2px;
	border: solid 1px;
}
.greentext {
	color: hsla(120,100%,50%,0.9);
}
.greentext {
	color: hsla(120,100%,50%,0.9);
}
.dmgtext {
	color: #c68b96;
}
.whilestanding {
	width: 10%;
	font-size: 105%;
	left: -10px;
	white-space: nowrap;
}
#strings li {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
.seecombo {
	font-size: 105%;
	width: 50%;
}
.seelongercombo {
	font-size: 105%;
	width: 65%;
}
.hidden {
	display: none;
}
.logo {
	width: 60%;
	margin-bottom: -5px;
}
img#select {
	width: 100%
}
#return a {
	position: absolute;
	margin-left: 19.8%;
	background-color: #2c2a39;
	border-radius: 4px;
	z-index: 1;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 5px;
	padding-right: 5px;
	color: rgba(210,225,255,1);
	border: solid 0px rgba(148,189,209,0.4);
	box-shadow: 0px 0px 0px 1px rgba(148,189,209,0.4);
}
#return a:hover {
	background-color: #3f3c51
}
.stickytop {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	z-index: 1;
	padding: 5px;
}
.gimmicks {
	text-align: center;
	color: white;
}
.pinktext {
	color: #DB70FF;
}
.akumatext {
	color: hsla(180,100%,50%,0.8);
	padding-right: 3px;
	padding-left: 3px;
	word-spacing: 3px;
}
.starburst {
	color: hsla(180,100%,50%,0.9);
}
.elizatext {
	color: hsla(0,100%,50%,0.8);
	padding-right: 3px;
	padding-left: 3px;
	word-spacing: 3px
}
.textborder {
	border: solid 0px #609ae8;
	border-radius: 2px;
	box-shadow: 0px 0px 0px 2px #609ae8;
}
.verdana {
	font-family: verdana;
}
.inlineblock {
	width: 50%;
}
.inlineblock_left {
	display: inline-block;
	width: 25%;
	text-align: start;
	direction: rtl;
	position: relative;
	left: 28px;
	top: -6px;
	color: white;
}
.inlineblock_img {
	display: inline-block;
	width: 45%;
}
.inlineblock_right {
	display: inline-block;
	width: 25%;
	text-align: start;
	direction: ltr;
	position: relative;
	font-size: 200%;
	top: -6px;
	left: 5px;
	line-height: .65em;
	white-space: nowrap;
	color: white;
}
#feng_launch {
	text-align: right;
	direction: rtl;
	margin-right:88%;
	white-space: nowrap;
}
#feng_longer {
	text-align: right;
	direction: rtl;
	margin-right:91.2%;
	white-space: nowrap;
}
#feng_short {
	text-align: right;
	direction: rtl;
	margin-right:85%;
	white-space: nowrap;
}
#nowrap {		
	white-space: nowrap;
}
.bonus {
	color: hsla(0,0%,100%,0.5)
}
#trillgasm {
	width: 500px;
	height: 500px;
	position: absolute;
	z-index: -1;
	opacity: 0.05;
	top: 40%;
	left: -90%
}
.whitetext {
	color: white;
}
.seelongercombo ul{
	margin-top: -15px;
}
.seecombo ul{
	margin-top: -15px;
}
#statustext {
	color:#fc6523
}
#dmgtext {
	color:#ee0f23;
}
#legend {
	position: absolute;
	left: 65%;
	top: -0.12%;
	opacity: 0.6
}
.standing {
	position: relative;
}
.standing table {
	width:40%;
	empty-cells: show;
	position: relative;
	left: 32%;
	min-width: 20em
}
#iframestab {
	width:20%;	
	text-align: start;
	direction: rtl;
}
#stringtab {
	width:55%
}
.counter table {
	width:78%;
}
.stripedrow {
	background: hsla(0,0%,100%,0.07);
}
#punish_col1 {
	width:50%;
}
#punish_col2 {
	width:30%;
}
#yellowtext {
	color: hsla(60,100%,50%,0.9)
}
.seelongercombo table {
	display: flex;
 	align-items: center;
 	justify-content: center;
 	min-width: 22em
}
.seelongercombo table th {
	text-align: start;
	direction: rtl;
}
.seelongercombo td {	
 	padding: 0px 10px 0px 10px
}
.bryantt {
	display: none;
    background: #C8C8C8;
    padding: 10px;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1000;
    width:500px;
    background-color: #3f3c51;
    border: 1px solid rgba(118,193,201,0.4);
    border-radius: 2px;
}
.bryantt p, h3{
	margin-left: 5%;
	margin-right: 5%;
}
.bryantt img{	
    transform: scale(1.054);
    margin-top: -3px
}
.twittervid {
	display: none;
    background: #C8C8C8;
    padding: 10px;
    position: absolute;
    z-index: 1000;
    width:500px;
    background-color: #3f3c51;
    border: 1px solid rgba(118,193,201,0.4);
    border-radius: 2px;
}
@media only screen and (max-width: 800px) {	
	#punishlookupinput {
		width: 77%
	}
	.seecombo {
		width: 78%;
		position: relative;
		left: 8%;
		word-wrap: break-word;
	}	
	.starburst {
		width: 58%;
		left: 20%
	}
	.inlineblock {
		width: 100%;
		display: flex;
		flex-direction: column;
		margin-left: -10%;
	}
	.inlineblock:nth-child(2) > .inlineblock_img {
		width: 60%;
		order: -1;
		margin-bottom: -27px;
		margin-top: 25px;
		margin-left: 20%
	}
	.inlineblock_left {
		display: block;
		width: 120%;
		position: relative;
		left: -6%;
		top: -5px;
	}
	.inlineblock_right {
		width: 10%;
		position: absolute;
		left: 55%;
		top: 35%;
	}
	#trillgasm {
		left: -180%
	}
	#plusframe {
		position: relative;
		left: -50%
	}	
	#guide {
		position: absolute;
		left: 120%;
		top: 20%;
		width: 10%;
		height: auto;
	}
	#return a {
		margin-left: 0.2%;
		margin-top: 0.8%;
	}
	.whilestanding p{
		position: relative;
		left: -43px;
	}
	.whilestanding p:nth-child(1) {
		position: relative;
		left: -15px;
	}
	.standing table {
		left:18%
	}
}
@media only screen and (max-width: 500px) {
	[class*="col-"] {
		width: 100%;
	}
	.standing table {
		left:12%
	}
	#charlookupinput {
		width: 90%;
		background-position: 6px 12px;
		background-size: 3.7%;
	}
	.logo {
		width: 30%;
	}
	.punish {
		width: 100%
	}	
	.whilestanding {
		width: 50%;
	}
	.seecombo {
		width: 84%;
		position: relative;
		left: 10%;
		word-wrap: break-word;
	}
	img.logo {
		width: 100%;
	}
	.inlineblock {
		width: 100%;
		display: flex;
		flex-direction: column;
		margin-left: -10%;
	}
	.inlineblock:nth-child(2) > .inlineblock_img {
		width: 60%;
		order: -1;
		margin-bottom: -27px;
		margin-top: 25px;
		margin-left: 20%
	}
	.inlineblock_left {
		display: block;
		width: 120%;
		position: relative;
		left: -55%;
		top: -15%;
	}
	.inlineblock_right {
		width: 10%;
		position: absolute;
		left: 55%;
		top: 35%;
	}
	.seelongercombo {
		width: 84%;
	}
	#feng_launch {
		text-align: right;
		direction: rtl;
		margin-right:92%;
		white-space: nowrap;
	}
	#feng_longer {
		text-align: right;
		direction: rtl;
		margin-right:92%;
		white-space: nowrap;
	}
	#feng_short {
		text-align: right;
		direction: rtl;
		margin-right:90%;
		white-space: nowrap;
	}	
	#slidetext, #slide, #slidetext_1, #slide_1, #slidetext_2, #slide_2, #slidetext_3, #slide_3, #slidetext_4, #slide_4 {
		font-size: 120%;
	}	
	#plusframe {
		position: relative;
		left: -8%
	}		
	.whilestanding p{
		position: relative;
		left: -3px;
	}
	.whilestanding p:nth-child(1) {
		position: relative;
		left: -8px;
	}
}
@media only screen and (min-width: 500px) {
	[class*="col-"] {
		width: 49.9999%;
	}
	#charlookupinput {
		width: 50%;
		background-position: 7px 10px;
		background-size: 6.5%;
	}
	.logo {
		width: 70%;
	}
	.punish {
		width: 90%
	}
	.whilestanding {
		width: 15%
	}
	.seecombo {
		width: 85%
	}
	.seelongercombo {
		width: 75%;
	}
	.inlineblock_img {
		width: 28%;
	}
	.inlineblock_left {
		display: inline-block;
		width: 38%
	}
	.inlineblock_right {
		width:32%;
	}	
	#feng_launch {
		text-align: right;
		direction: rtl;
		margin-right:90.7%;
		white-space: nowrap;
	}
	#feng_longer {
		text-align: right;
		direction: rtl;
		margin-right:89.8%;
		white-space: nowrap;
	}
	#feng_short {
		text-align: right;
		direction: rtl;
		margin-right:88.5%;
		white-space: nowrap;
	}	
	.whilestanding ul{		
		margin-left: -68px;
	}	
	.inlineblock_left ul {
		height: 100px;
	    overflow-x: hidden;
	    overflow-y: auto;
	    list-style:none;
	    position: relative;
	    top: 25px
	}
	#slidetext, #slide, #slidetext_1, #slide_1, #slidetext_2, #slide_2, #slidetext_3, #slide_3, #slidetext_4, #slide_4 {
		font-size: 120%;
	}
}
@media only screen and (min-width: 992px) {
	[class*="col-"] {
		width: 23.9999%;
	}
	#charlookupinput {
		width: 20%;
		background-position: 8px 10px;
		background-size: 5%;
	}
	.logo {
		width: 40%;
	}
	.punish {
		width: 46%
	}
	.whilestanding {
		width: 22%
	}
	.whilestanding ul{		
		margin-left: -45px;
	}
	.long_advanced {
		width: 32%
	}
	.seecombo {
		width: 45%;
		min-width: 25em
	}
	.sublongercombo {
		width: 45%;
	}
	.seelongercombo {
		width: 65%
	}
	.inlineblock {
		width: 50%;		
		min-width: 60em;
	}
	.inlineblock_left {
		width: 25%;
		min-width: 15em;
	}
	.inlineblock_right {
		width: 25%;
	}
	.inlineblock_img {
		width: 31%
	}	
	#feng_launch {
		text-align: right;
		direction: rtl;
		margin-right:90.5%;
		white-space: nowrap;
	}
	#feng_longer {
		text-align: right;
		direction: rtl;
		margin-right:93.2%;
		white-space: nowrap;
	}
	#feng_short {
		text-align: right;
		direction: rtl;
		margin-right:86.5%;
		white-space: nowrap;
	}
	.inlineblock_left ul {
		top: 20px;
	}
	#slidetext, #slide, #slidetext_1, #slide_1, #slidetext_2, #slide_2, #slidetext_3, #slide_3, #slidetext_4, #slide_4 {
		font-size: 100%;
	}
	#guide {
		position: absolute;
		left: 65%;
		top: 5%;
		height: auto;
		transform: scale(0.15);
	}
}